.main{
    display: flex;
    flex-direction: row;
}
.navigation-bar{
    width: 30vw;
    height: 100vh;
    border-style: solid;
    border-color: red;
}

.notes-area{
    width: 70vw;
    height: 100vh;
    border-style: solid;
    border-color: red;
}