@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Element Styles*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

    transition: background-color 0.3s ease;
}

:root{
    --notes-area-width: 95%;
    --notes-area-bg-light: white;
    --notes-area-hover-light: rgb(205, 205, 205);


    --nav-bar-bg-light: rgb(206, 206, 206);
    --nav-bar-hover-light: rgb(255, 255, 255);
}

body{
    display: flex;
    flex-direction: row;
}

/* Class Styles*/


.navigation-bar{
    width: 20vw;
    height: 100vh;
    background-color: var(--nav-bar-bg-light-light);
    border-right-style: solid;
    border-color: black;

    background-color: var(--nav-bar-bg-light);

}

.nav-bar-header{
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-bottom-color: black;
    border-bottom-style: solid;
}

.hamburger-menu{
    aspect-ratio: 1 / 1;
    height: 70%;
    border-radius: 10%;

    align-self: center;

    border-color: transparent;
    background-color: var(--nav-bar-bg-light);
}

.hamburger-menu:hover{
    background-color: var(--nav-bar-hover-light);
}

.hamburger-menu-image{
    aspect-ratio: 1 / 1;
    height: 90%;
}

.search-bar{
    width: 70%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.search-bar-input{
    height: 80%;
    width: 90%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

    background-color: var(--nav-bar-bg-light);
    color: black;

    padding-left: 10px;
}

.search-bar-input::placeholder{
    color: black;
}

.dark-mode-toggle{
    height: 70%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10%;

    border-color: transparent;
    background-color: var(--nav-bar-bg-light);
}

.dark-mode-toggle:hover{
    background-color: var(--nav-bar-hover-light);
}

.dark-mode-button{
    height: 70%;
    aspect-ratio: 1 / 1;
}

.notes-area{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 100vh;

    background-color: var(--notes-area-bg-light);
    
}

.notes-header{
    height: fit-content;
    width: var(--notes-area-width);

    border-color: transparent;
    border-style: solid;

    display: flex;
    flex-direction: row;
}

.my-day{
    height:fit-content;
    font-weight: 700;

    margin-bottom: 5px;
}

.day-and-date{
    height: 20%;
    font-weight: 700;
}

.filler{
    display: inline-block;
    flex: 1;
    height: 100%;
}

.three-dots-menu{
    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-color: transparent;
    background-color: var(--notes-area-bg-light);
    
}

.three-dots-menu:hover{
    background-color: var(--notes-area-hover-light);
}

.three-dots{
    height:50%;
    aspect-ratio: 1 /1 ;
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50%;

    border-color: transparent;
    border-style: solid;
    width: var(--notes-area-width);
}


.notes-input{
    width: var(--notes-area-width);
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    border-color: transparent;

    background-color: rgb(174, 174, 174);
    
    
}
.notes-input:focus-within{
    border: transparent;
    background-color: transparent;
}
.notes-input:hover, .notes-input:hover input, .notes-input:hover input::placeholder, .notes-input:hover div{
    background-color: rgb(108, 108, 108);
    transition: color 0.3s ease;
    color: rgb(255, 255, 255);
}

.plus-icon, .add-new-note{
    background-color: rgb(174, 174, 174);

    border-color: transparent;
    border-style: solid;
}

.plus-icon{
    height: 100%;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-note{
    flex: 1;
    height: 100%;

    outline: none;
    padding-left: 5px;
}

.add-new-note::placeholder{
    color: black;
}

