/* Element Styles*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --notes-area-width: 80%;
}

body{
    display: flex;
    flex-direction: row;
}

header{
    border-color: blue;
    border-style: solid;
    
}

footer{
    border-color: purple;
    border-style: solid;
}

/* Class Styles*/


.navigation-bar{
    width: 20vw;
    height: 100vh;
    border-style: solid;
    border-color: red;
}

.nav-bar-header{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hamburger-menu{
    aspect-ratio: 1 / 1;
    height: 80%;
    border-radius: 100%;
}

.hamburger-menu-image{
    aspect-ratio: 1 / 1;
    height: 90%;
}

.search-bar{
    width: 70%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.search-bar-input{
    height: 80%;
    width: 90%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.dark-mode-toggle{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode-button{
    height: 60%;
    aspect-ratio: 1 / 1;
}

.notes-area{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
    height: 100vh;
    border-style: solid;
    border-color: red;
}

.notes-header{
    height: 20%;
    width: var(--notes-area-width);
}

.my-day{
    height: 80%;
}

.day-and-date{
    height: 20%;
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40%;

    border-color: green;
    border-style: solid;
    width: var(--notes-area-width);
}


.notes-input{
    width: var(--notes-area-width);
    height: 15%;
    
}